@font-face {
  font-family: "Rubik-Light";
  src: url(../assets/fonts/Rubik-Light.ttf);
}

@font-face {
  font-family: "Rubik-Medium";
  src: url(../assets/fonts/Rubik-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik-Light";
}

ul {
  padding: 0;
}

a {
  &.text-color {
    text-decoration: none;
    border-bottom: 1px solid #6CEEC7;
    margin-bottom: 5px;
  }

  &:hover {
    color: #6CEEC7;
  }

}

.button {
  background: none;
  padding: 16px 50px;
  border: 2px solid #6CEEC7;
  border-radius: 5px;
  color: #6CEEC7;
  font-size: 19px;
  line-height: 23px;
  font-family: "Rubik-Medium";
  &:hover {
    transition: all 0.3s;
    background: #6CEEC7;
    color: black;
  }
}

section {
  height: 100vh;
}

.custom-row {
  height: 100%;
  margin: 0;
}

.custom-col {
  text-align: center;
  padding-right: 0;
}

.select {
  z-index: 10;

  &__dropdown {
    display: none;
    position: absolute;
    top: 60px;
    background: #ffff;
    width: 100%;
    border-radius: 5px;
  }

  &__dropdown-visible {
    display: block;
  }

  &__options {
    margin: 0;
    padding: 20px;
    list-style: none;
  }

  &__option {
    padding: 5px;
    font-size: 15px;
    line-height: 18px;
    color: #5E5E5E;

    &:hover {
      margin-left: 10px;
      color: #212121;
    }

    &:focus {
      margin-left: 10px;
      color: #212121;
    }
  }
}

.greeting {
  background-image: url(../assets/img-bgs/bg-1.jpg);
  background-size: cover;
  background-position: center center;
  
  &__container {
    height: 100%;
  }

  &__logo img{
    width: 190px;
  }

  &__text {
    color: #ffff;
    font-size: 62px;
    line-height: 73px;
    text-align: center;
    margin: 40px 0px;
    font-family: "Rubik-Medium";
  }
}

.text-color {
  color: #6CEEC7;
  font-family: "Rubik-Medium";
}

.sign-up {
  background-image:url(../assets/img-bgs/bg-2.jpg);
  background-size: cover;
  background-position: center center;
  max-height: 100%;
  position: relative;

  &__container {
    height: 100%;
  }

  &__text {
    font-size: 24px;
    line-height: 28px;
    color: #ffff;
    text-align: center;
    font-family: "Rubik-Medium";
  }

  &__form {
    margin-top: 55px;
  }

  &__footer {
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    color: #E0E0E0;
  }
}
.form {

  &__select-toggle {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding-left: 50px;
    text-align: left;
    font-size: 19px;
    line-height: 23px;
    color: #E0E0E0;

    &:focus {
      border: 1px solid #6CEEC7;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 30px;
  }

  &__field {
    display: flex;
    position: relative;
    width: 50%;

    label {
      font-size: 15px;
      line-height: 18px;
      color: #E0E0E0;
    }
    
    &:nth-child(2) {
      margin-left: 30px;
    }

    img:not(.select-arrow) {
      position: absolute;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    input:not([type="checkbox"]) {
      outline: none;
      background-color: transparent;
      border: 1px solid #E0E0E0;
      border-radius: 5px;
      padding: 16px;
      padding-left: 50px;
      color: #E0E0E0;
      width: 100%;

      &:focus {
        border: 1px solid #6CEEC7;
      }
    }

    input[type="checkbox"]  {
      position: absolute;
      z-index: -1;
      opacity: 0;
      display: none;
    }

    input[type="checkbox"].checked-error+label::before {
      background-color: #DA5050;
      border: 1px solid #DA5050;
    }

    input[type="checkbox"]+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      width: 100%;
      left: 0;
    }

    input[type="checkbox"] +label::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #67D9B7;
      border-radius: 5px;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    input[type="checkbox"]:checked+label::before {
      background-color: #67D9B7;
      background-image: url(../assets/icons/check_icon.svg);
      background-size: 12px;
    }

    input[type="checkbox"]:hover+label::before {
      background-color: #67D9B7;
      transition: 0.3s;
    }

    input::placeholder {
      font-size: 19px;
      line-height: 23px;
      color: #E0E0E0;
    }

    p {
      position: absolute;
      bottom: -35px;
      right: 0;
      font-size: 10px;
      line-height: 12px;
      color: #DA5050;
      

      &.visible {
        visibility: visible;
      }

      &.hidden {
        visibility: hidden;
      }
    }
  }

  &__button {
    background: #6CEEC7;
    color: black;
    &:hover {
      background: none;
      color: #6CEEC7;
    }
  }
}

.select-arrow {
  position:absolute;
  right: 10px;
  top: 25px;
  cursor: pointer;
  pointer-events: none;
   
  &-rotate {
    transform: rotate(180deg);
  }
}

@media(max-width: 576px) {

  button {
    width: 100%;
    font-size: 16px;
    line-height: 19px;
  }

  .greeting {

    &__logo img{
      width: 120px;
    }

    &__text {
      font-size: 30px;
      line-height: 36px
    }
  }

  .sign-up {
    height: 100%;

    &__container {
      padding-top: 80px;
    }

    &__text {
      font-size: 19px;
      line-height: 23px;
    }

    &__form {
      margin-top: 30px;
    }
  }

  .form {

    &__row {
      flex-direction: column;
      margin-bottom: 0px;
    }

    &__field {
      width: 100%;
      margin-bottom: 30px;

      &:nth-child(2) {
        margin-left: 0px;
      }

      input[type="checkbox"]+label {
        font-size: 15px;
        line-height: 18px;
      }
    }

    &__field-checkbox {
      padding-top: 5px;
      padding-bottom: 20px;
    }

    &__select {
      padding: 16px;

      &-toggle {
        padding: 16px;
        padding-left: 50px;
      }
    }

    &__button {
      margin-bottom: 100px;
    }

  }
}

